﻿<div id="angularOrdersDiv" class="" ng-show="showOrders">

    <div ng-show="showOrderRecords" class="reviewed-order-description">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0c994b" class="bi bi-check-circle-fill ms-2" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg> = Salesperson has reviewed open order and it is accurate with respect to customer, product, quantity,  &amp; price.
        <br />
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-check-circle-fill ms-2" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg> = Sales order has changed and needs to be validated again.
    </div>

    <div ng-show="showUnvalidatedTally">
        <h3><b></b>Unvalidated Tallies</b> <button onclick="javascript: doToggle('unvalidatedTallyDiv');">show/hide</button> <button onclick="javascript: openPage('Unvalidated Orders');">reset</button></h3>
        <div id="unvalidatedTallyDiv" style="display:none;">
            <p><b>Tally : Salesperson Name(s) : (Salesperson Number)</b></p>
            <span ng-repeat="tallyRecord in unvalidatedTallyRecords">{{ tallyRecord.Tally }}: <a href="" ng-click="searchUnvalidatedOrdersForSellnumAngular(tallyRecord.SellNum)">{{ tallyRecord.SellNames }}</a> ({{ tallyRecord.SellNum }})<br /></span>
            <br />
            <h3><b>By PVR:</b></h3>
            <p><b>Tally : List/PVR</b></p>
            <span ng-repeat="tallyRecord in unvalidatedTallyRecordsByContract">{{ tallyRecord.Tally }}: <a href="" ng-click="searchUnvalidatedOrdersForContractAngular(tallyRecord.Contract)">{{ tallyRecord.Contract }}</a><br /></span>
        </div>
    </div>

    <div class="m-4" ng-show="showEmptyResults">
        <div class="">
            <div class="light sub-header">No Results</div>
        </div>
    </div>

    <div id="order-tile-{{ orderRecord.id }}" class="order-tile" ng-show="showOrderRecords" ng-click="clickDetails(orderRecord.id)" ng-repeat="orderRecord in orderRecords">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="order-header bold">
                        <svg id="leftSideValidatedCheck-{{ orderRecord.id }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" ng-show="orderRecord.validated">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-check-circle-fill" viewBox="0 0 16 16" ng-show="!orderRecord.validated && orderRecord.wasValidated">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        {{ orderRecord.cname }}
                    </div>
                    <div class="divider"></div>
                    <div class="bold order-sub-header">
                        {{ orderRecord.salespeople }}<br />{{ orderRecord.regionalName }}<br />{{ orderRecord.districtName }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="order-sub-header"><span class="order-left-side-number-headings">INV#:</span> <strong>{{ orderRecord.invnum }}</strong></div>
                    <div class="order-sub-header"><span class="order-left-side-number-headings">SO#:</span> <strong>{{ orderRecord.sonum }}</strong></div>
                    <div class="order-sub-header"><span class="order-left-side-number-headings">PO#:</span> <strong>{{ orderRecord.ponum }}</strong></div>
                    <div class="order-sub-header">
                        <span class="order-left-side-number-headings">PRICING:</span>
                        <strong>
                            {{ orderRecord.contract }}
                            <span ng-repeat="pricingField in orderRecord.pricingFields"><span style="color:{{ pricingField.color }};">{{ pricingField.pvr }}</span><br /></span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="left-side-shamrock" class="gifWrap" ng-if="showOrderWaiting"><img src="/images/loading.gif" class="gifLogo"></div>