﻿<!DOCTYPE html>

<html>

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.malarkey.mod.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css?v=@ViewData["Uniqid"]">
    <link rel="stylesheet" href="/assets/css/dashboardNav.css?v=@ViewData["Uniqid"]">
    <link rel="stylesheet" href="/assets/css/dashboardAngular.css?v=@ViewData["Uniqid"]">
    <link rel="stylesheet" href="/assets/css/dt-multiselect.css?v=@ViewData["Uniqid"]" type="text/css">
</head>

<body>

    <nav id="topNav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand d-none d-lg-inline-block" href="#"><img class="top-nav-image" src="/images/logo.png"></a>
            <div class="w-100 text-right me-auto">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse flex-grow-1 align-items-center text-right" id="myNavbar">
            <span id="reportTotals" class="text-white justify-content-md-center"></span>

            <ul class="navbar-nav ms-auto flex-nowrap">
                <li class="nav-item">
                    <a href="" class="nav-link m-2 menu-item"><img src="/images/searchIcon.jpg" class="btnSearch"></a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link m-2 menu-item">@Model.LoggedInUsername</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link m-2 menu-item">LOGOUT</a>
                </li>
                <li class="nav-item">
                    <a href="/EmailLog" target="logs" class="nav-link m-2 menu-item">LOGS</a>
                </li>
                <li class="nav-item">
                    <a href="/Mobile" target="logs" class="nav-link m-2 menu-item">MOBILE</a>
                </li>
            </ul>
        </div>

    </nav>

    <div id="dupPVRHeader">
        <div id="dupPVRHeaderContent">
            <span style="background-color:red;color:white;padding:2px;margin-right:6px;">THERE ARE 174 DUPLICATE PVR ITEMS</span><span style="background-color:green;color:white;padding:2px;margin-right:6px;">THERE ARE 292 DUPLICATE PVR ITEMS</span><span style="color:white;">466 TOTAL DUPLICATE PVR ITEMS</span>
        </div>
    </div>


    <div id="mainMenuLinks" class="d-flex">
        <div class="main-menu-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">YESTERDAY'S ORDERS</span></div>
        <div class="main-menu-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">UNVALIDATED ORDERS</span></div>
        <div class="main-menu-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">OPEN ORDERS</span></div>
        <div class="main-menu-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">SHIPMENTS</span></div>
        <div class="main-menu-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">ACTIVE PVRS</span></div>
        <div class="main-menu-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">PENDING PVRS</span></div>
        <div class="main-menu-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">EXPIRED PVRS</span></div>
        <div class="main-menu-item main-menu-item-last-item" style="width: @ViewData["MainMenuButtonPercentage"]%;"><span class="main-menu-item-span">HELP GUIDE</span></div>
    </div>
    @RenderBody()
    <partial name="PartialViews/ModalAlert" />
    <partial name="PartialViews/ModalRequestOrderRevision" /> 
    <partial name="PartialViews/ModalSearch" model="@Model" />
    <partial name="PartialViews/ModalPVRForm" />
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/dt-multiselect.js?v=@ViewData["Uniqid"]"></script>
    <script src="/assets/js/angular.min.js"></script>
    <script src="~/assets/js/dashboardAngular.js?v=@ViewData["Uniqid"]"></script>
    <script src="/assets/js/dashboard.js?v=@ViewData["Uniqid"]"></script>
    <script src="/assets/js/dashboardPVRFormProducts.js?v=@ViewData["Uniqid"]"></script>
</body>
</html>