@charset "utf-8";
/* CSS Document */

.dt-multiselect-upper-div
{
	position: relative;
	min-height: 3rem;
	width: 100%;
	font-size: 2rem;
	background-color: white;
	color: black;
	border: 1px solid #efefef;
	margin: .6rem 0;
	padding: .4rem;
	border-radius: .4rem;
}

.dt-multiselect-upper-div-record
{
	background-color: #2DB374;
	color: white;
	display: inline-block;
	margin: 0 .4rem .4rem 0;
	padding: .4rem;
	cursor: pointer;
	border-radius: .4rem;
	font-size: 1.6rem;
}

.dt-multiselect-list
{
	display: none;
	background-color: #eee;
	width: 100%;
	cursor: pointer;
	height: 15rem;
	overflow-y: scroll;
	padding: .4rem;
	border: 1px solid black;
}

.dt-multiselect-list-item
{
	width: 100%;
	background-color: #eee;
	padding: .4rem;
}

.dt-multiselect-list-item:hover
{
	background-color: #fff;
}

.dt-multiselect-upper-div-close-btn
{
	display: inline-block;border-left: 1px solid #333;height: 100%;margin-left: .8rem;
}

.dt-multiselect-input
{
	display: inline-block;
	border: none;
}

.dt-multiselect-input:focus
{
	outline: none;
}

.dt-multiselect-placeholder
{
	position: absolute;
	user-select: none;
	left: .6rem;
}